# Assignment: Kaggle Cluster Challenge 

Clustering medical data: [https://www.kaggle.com/c/onelasttrain/overview](https://www.kaggle.com/c/onelasttrain/overview)

In [2]:
# get data
!git clone https://github.com/keuperj/DATA.git

Cloning into 'DATA'...
remote: Enumerating objects: 36, done.
remote: Counting objects: 100% (36/36), done.
remote: Compressing objects: 100% (33/33), done.
remote: Total 36 (delta 5), reused 34 (delta 3), pack-reused 0
Unpacking objects: 100% (36/36), done.

In [3]:
import pandas as pd
train = pd.read_csv("DATA/Cluster_I/TRAIN.csv")
test = pd.read_csv("DATA/Cluster_I/TEST.csv")

In [4]:
train.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
0,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),?,1,1,7,3,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,...,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),?,1,1,7,2,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),?,1,1,7,1,?,?,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [6]:
train.describe()

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,readmitted_NO
count,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000
mean,2.152297,3.997235,5.881745,4.491479,43.129934,1.344601,15.719987,0.300747,0.157982,0.614605,7.147285,0.524973
std,1.546621,5.686334,4.426288,3.038481,19.006543,1.681742,8.174863,1.112868,0.697619,1.228058,1.991019,0.499379
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,1.000000,1.000000,1.000000,2.000000,32.000000,0.000000,10.000000,0.000000,0.000000,0.000000,5.000000,0.000000
50%,2.000000,1.000000,7.000000,4.000000,44.000000,1.000000,14.000000,0.000000,0.000000,0.000000,8.000000,1.000000
75%,3.000000,5.000000,7.000000,6.000000,56.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000,1.000000
max,8.000000,28.000000,22.000000,14.000000,129.000000,6.000000,81.000000,42.000000,42.000000,21.000000,9.000000,1.000000

## Task 1
Find and evaluate clusters in the data. Note: use the parallelization abilities of *Scikit Learn*...

## Task 2
Visualize your result with the embedding projector.

## Task 3 (optional)
Upload your results to Kaggle and get a score.