# Assignment 2.1
### Scrape and Analyse

* API [https://beautiful-soup-4.readthedocs.io/en/latest/](https://beautiful-soup-4.readthedocs.io/en/latest/)

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Tasks
Scrape data from the website [http://www.nationmaster.com](http://www.nationmaster.com/), convert it into Pandas data frames and use pandas queries to answer the following questions:

#### 1
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest absolute number of internet users.

#### 2
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest number of internet users relative to the populutation. Hint: you need to scrape the population number from another page)

#### 3
Compute the correlation between the crime rate (murders per 100k) and the education level. Compare this to the correlation of crime rate and poverty (relative BIP). Hint: use pandas build in correlation function: [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html)

### REST API
#### Using data from [https://www.energidataservice.dk](https://www.energidataservice.dk)

In [1]:
import pandas as pd
import requests
from pandas import json_normalize

In [8]:
#get data from an open energy data service provider
url = 'https://api.energidataservice.dk/dataset/NordpoolMarket?offset=0&sort=HourUTC%20DESC&timezone=dk'

response = requests.get(url)
dictr = response.json() #parse json to dict
recs = dictr['records'] 
df = json_normalize(recs) #flatten json files into data frame
df.head()

,HourUTC,HourDK,PriceArea,SpotPurchase,SpotSale,SpotPriceDKK,ElbasAveragePriceDKK,ElbasMaxPriceDKK,ElbasMinPriceDKK,SpotPriceEUR,ElbasAveragePriceEUR,ElbasMaxPriceEUR,ElbasMinPriceEUR
0,2021-08-22T21:00:00,2021-08-22T23:00:00,DK1,None,None,609.450012,None,None,None,81.949997,None,None,None
1,2021-08-22T21:00:00,2021-08-22T23:00:00,DK2,None,None,609.450012,None,None,None,81.949997,None,None,None
2,2021-08-22T20:00:00,2021-08-22T22:00:00,DK1,None,None,670.059998,None,None,None,90.099998,None,None,None
3,2021-08-22T20:00:00,2021-08-22T22:00:00,DK2,None,None,670.059998,None,None,None,90.099998,None,None,None
4,2021-08-22T19:00:00,2021-08-22T21:00:00,DK1,None,None,710.080017,None,None,None,95.480003,None,None,None

#### 4
Compute overview statistics (mean, variance, quantiles, counts,...) for all variables. Hint: there is a single pandas call to get this ...

#### 5 
Compute the average ***SpotSale*** by each day.

#### 6 
Compute the day with the highest variance in ***SpotPurchase***